<!-- <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class = "navbar-nav">
        <li class = "nav-item">
            <a routerLink="country" routerLinkActive="active" class="nav-link" >Country List</a>
        </li>
        <li class = "nav-item">
            <a routerLink="add-country" routerLinkActive="active" class="nav-link" >Add Country</a>
        </li>
    </ul>
</nav> -->
<mat-toolbar color = 'primary'>
    <span>Country App</span>
    <button mat-button color = "primary">
        <a routerLink="country" routerLinkActive="active" class="nav-link" style="color: white;" >Country List</a>
    </button>
    
    <button mat-button>
        <a routerLink="add-country" routerLinkActive="active" class="nav-link" style="color: white;"  >Add Country</a>
    </button>    
</mat-toolbar>





<div class="container">
<router-outlet></router-outlet>
</div>

<footer class = "footer">
    <div class = "container">
        <span>Practical Test(v2.1)</span>
    </div>
</footer>