<h2>Country List</h2>
<table class="table table-stripped">
    <thead>
        <tr>
            <th> Country Code</th>
            <th>Country Name</th>
            <th>Country Description</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let country of countryL" >
            <td> {{ country.countryCode }} </td>
            <td> {{ country.countryName }} </td>
            <td> {{ country.countryDesc }} </td>
            <td>
                <button (click)="updateCountry(country.countryId)" class="btn btn-info"> Update  </button>
            </td>
            <td>
                <button (click)="deleteCountry(country.countryId)" class="btn btn-info"> Delete  </button>
            </td>
                
        </tr>
    </tbody>

</table>
